cycler==0.11.0
fonttools==4.33.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
Pillow==9.1.1
protobuf==4.21.1
protoletariat==0.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
six==1.16.0
